@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --gray-200: 0 0% 100%;
    --gray-400: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --gray-200: 222.2 84% 4.9%;
    --gray-400: 210 40% 98%;
  }
}
